* {
  margin: 0px;
  box-sizing: border-box
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify
}

h1 {
  font-size: xx-large
}

header {
  margin-bottom: 20px
}

.strong {
  font-weight: 700
}

body {
  font-family: Arial;
  background-color: #e6e6e6
}

.main {
  margin-top: 15px;
  padding-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  margin-right: 15px;
  padding-right: 15px;
  margin-left: 15px;
  padding-left: 15px;
  width: 100%;
  margin: auto
}

.content {
  margin: 0px;
  padding: 10px;
  background-color: rgb(206, 206, 206);
  overflow: auto
}

.responsive-img {
  width: 100%
}

#navigation {
  list-style-type: none;

  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #020202;
  border-bottom: 4px #000a9a solid
}

.navlist {
  float: left
}

.navlist a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none
}

.navlist#heading {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold
}

li a:hover {
  background-color: #000a9a
}

#active {
  background-color: #000a9a
}

footer {
  background-color: #020202;
  color: #fff;
  padding: 14px;
  font-weight: bold;
  text-align: right;
  clear: both;
  position: relative
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.content-strech {
  width: 100%;
  background-color: #0c540f
  
  
}

.content-left {
  width: 60%;
  float: left;
  padding-right: 10px
}

.content-left2 {
  width: 65%;
  float: left;
  padding: 50px;
  padding-bottom: 65px;
  background-color: #ededed
}

.content-right {
  width: 40%;
  float: right;
  padding-left: 10px
}

.content-right2 {
  width: 30%;
  float: right;
  padding: 10px;
  background-color: rgb(219, 219, 219);
  margin-right: 25px
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box
}

input[type="submit"] {
  width: 100%;
  background-color: #000a9a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer
}

input[type="button"] {
  width: 100%;
  background-color: #000a9a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer
}

input[type="submit"]:hover {
  background-color: #0c540f
}

@media screen and (max-width: 800px) {
  .content-left,
  .content-right {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px
  }
}
#rapwarz {
  position: relative;
  margin-top: 15px;  
  float: left;
  padding-right: 10px
  
}

.cv {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center
}

.full {
  width: 80%;
  max-width: 1000px;
  min-height: 100px;

  margin: 0px;
  display: grid;
  grid-template-columns: 2fr 4fr
}
.left {
  position: initial;
  background-color: rgb(197, 197, 197);
  padding: 20px
}
.right {
  position: initial;
  background-color: rgb(191, 190, 190);
  padding: 20px
}
.image,
.Contact,
.Skills,
.Language,
.Hobbies,
.title,
.Summary,
.Experience,
.Education,
.course {
  margin-bottom: 30px;
}

#table1,
#table3,
th,
td {
  border: 1px solid
}
.th2,
.td2 {
  border: 1px solid;
  border-spacing: 0px
}

#table2 {
  border-spacing: 1px;
}
.googlemapsdiv {
  width: 80%;
  margin: 90px;
  float: left;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  background-color: rgb(219, 219, 219)
}

