* {
  /* Alle elementen krijg 0 margin */
  margin: 0px;
  /* Alleen nodig voor content-left/right class */
  box-sizing: border-box;
}

/* Paragraaf terug spatie geven omdat we alles op nul hebben gezet */
p {
  margin-top: 10px;
  margin-bottom: 10px;
  /* Tekst uitlijnen */
  text-align: justify;
}

h1 {
  font-size: xx-large;
}

header {
  margin-bottom: 20px;
}

.strong {
  font-weight: 700;
}

body {
  /* Alle tekst dat in <body> staat krijgt de font Arial */
  font-family: Arial;
  background-color: #e6e6e6;
}

.main {
  /* De container bevat de klasse navigatie, content en footer */
  margin-top: 15px;
  padding-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  margin-right: 15px;
  padding-right: 15px;
  margin-left: 15px;
  padding-left: 15px;
  /* De container is 70% breed */
  width: 100%;
  /* Container centreren */
  margin: auto;
}

.content {
  margin: 0px;
  padding: 10px;
  background-color: rgb(206, 206, 206);
  /* Nodig om achtergrondkleur te fixen/overflowen bij gebruik van content-left/right » float: left
       Zonder overflow: auto zou de achtergrond kleur stoppen na de <h1>Contactforumulier</h1> */
  overflow: auto;
}

.responsive-img {
  width: 100%;
}

/* *** Navigatie *** */

/* Opgepast vanaf nu zullen alle ul/li deze layout krijgen, zonder verdere aanpassing..
   Dit kan dus beter.. het menu zit in een element genaamd nav misschien kan deze hulp bieden? */

/* Undordered list : <ul> ... </ul> */
#navigation {
  list-style-type: none;
  /* Maakt de bolletjes of getallen van een ul of ol onzichtbaar */
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #020202;

  /* Rand onderaan */
  border-bottom: 4px #000a9a solid;
}

/* List item van een <ul> of <ol> */
.navlist {
  float: left;
}

/* List item met anchor : <li><a> ... </a></li> */
.navlist a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* List item met de class heading : <li class="heading"> ... </li>*/
.navlist#heading {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  /* Lettertype wijzigen */
  /*font-family: Verdana;*/
}

/* Wanneer je hovert over een listen item anchor : <li><a> ... </a></li> */
li a:hover {
  background-color: #000a9a;
}

/* class="active" zet de achtergrondkleur op #f04c25 */
#active {
  background-color: #000a9a;
}

/* *** Einde navigatie *** */

footer {
  background-color: #020202;
  color: #fff;
  padding: 14px;
  font-weight: bold;
  text-align: right;
  /* Reset nodig voor float: left/right */
  clear: both;

  position: relative;

  /* Rand bovenaan */
  /* border-top: 4px #2532f0 solid; */
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.content-left {
  width: 60%;
  float: left;
  padding-right: 10px;
}

.content-right {
  width: 40%;
  float: right;
  padding-left: 10px;
}

/* Formulieren en buttons */
input[type="text"],
select {
  /* <input type="text"/> en <select></select> */
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  /* <textarea></textarea/> */
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  /* <input type="submit"/> */
  width: 100%;
  background-color: #000a9a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="button"] {
  /* <input type="button"/> */
  width: 100%;
  background-color: #000a9a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0c540f;
}

/* Responsive maken */
@media screen and (max-width: 800px) {
  .content-left,
  .content-right {
    /* De width zal 100%, wanneer de viewport 800px of smaller is. */
    /* .content-left en .content-right hebben een width van 60% en 40% normaalgezien, hier overschrijven we dat. */
    width: 100%;
    /* Fix omdat we normaal padding-right/left op 10px zetten */
    padding-right: 0px;
    padding-left: 0px;
  }
}
#rapwarz {
  position: relative;
  top: 7px;
  left: 150px;
  bottom: 70px;
  border: 70px;
}

.cv {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.full {
  width: 80%;
  max-width: 1000px;
  min-height: 100px;

  margin: 0px;
  display: grid;
  grid-template-columns: 2fr 4fr;
}
.left {
  position: initial;
  background-color: rgb(197, 197, 197);
  padding: 20px;
}
.right {
  position: initial;
  background-color: rgb(191, 190, 190);
  padding: 20px;
}
.image,
.Contact,
.Skills,
.Language,
.Hobbies,
.title,
.Summary,
.Experience,
.Education,
.course {
  margin-bottom: 30px;
}

#table1,
#table3,
th,
td {
  border: 1px solid;
}
.th2,
.td2 {
  border: 1px solid;
  border-spacing: 0px;
}

#table2 {
  border-spacing: 1px;
}
.googlemapsdiv {
  width: 80%;
  margin: 60px;
  float: left;
}

#contact {
  margin-top: 40px;
}
.contactcolour{
  background-color: rgb(163, 27, 27);
}
